@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/836/113/non_2x/abstract-pastel-colorful-gradient-background-concept-for-your-graphic-colorful-design-vector.jpg");
  
    text-align: center;
    color: rgb(37, 102, 42);
    text-shadow: none;
    padding: auto;
  
    letter-spacing: 3px;
    font-size: medium;
  }
  


.link {
    color: inherit;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border-style: double;
} 

.link {
    background:
        linear-gradient(to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.link:hover {
    background-size: 0 3px, 100% 3px;
}


.back {
    width: 55px;
    height: 55px;
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .back {
    color: inherit;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    border-style: double;
  }
  
  .back {
    background: linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    border-radius: 40px;
    transition: background-size 40ms;
  }
  
  .back:hover {
    background-size: 0 3px, 100% 3px;
  }
  
  .back {
    background: linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    border-radius: 40px;
    transition: background-size 40ms;
  }
  
  .back:hover {
    background-size: 0 3px, 100% 3px;
  }

h1:hover:before {
    width: 100%;
}


.box {
    background-color: lightgrey;
    width: 500px;
    padding: 5px;
    margin: auto;
  
    text-align: center;
    border-radius: 100px;
    border: 5px solid rgb(255, 0, 0); /* set initial border color to red */
    animation: border-color 8s linear infinite; /* add animation */
  }
  
  .boxText {
    background-color: rgba(211, 211, 211, 0.678);
    width: 500px;
    height: 485px;
    border: 5px solid rgb(255, 0, 0); /* set initial border color to red */
    animation: border-color 8s linear infinite; /* add animation */
    padding: 8px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
  
    text-align: center;
    border-radius: 50px;
  }
  @keyframes border-color {
    0% {
      border-color: rgb(255, 0, 0); /* red */
    }
    25% {
      border-color: rgb(0, 255, 0); /* green */
    }
    50% {
      border-color: rgb(0, 0, 255); /* blue */
    }
    75% {
      border-color: rgb(255, 255, 0); /* yellow */
    }
    100% {
      border-color: rgb(255, 0, 0); /* back to red */
    }
  }




html {
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  
  max-width: 768px;
  margin: auto;
  position: relative;
}

form {
  padding: 37.5px;
  
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}