body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 4% 4%;
}

h2 {
    position: relative;
    left: 0%;
    top: 50px;

}


p {

    position: relative;
    text-align: left;
    bottom: 110px;


}

.des {
    text-align: left;
}


img {
    width: 40%;
    height: 29%;
    border-radius: 50px 50px 70px 50px;
    margin-right: 10px;
    margin-left: auto;
    display: block;
}


.column {
    box-sizing: border-box;
    float: left;
    left: 1000px;
    /*width: 445px;
    */
    width: 33.33333%;
    padding: 15px;
    height: 500px;
    background-color: rgb(110, 21, 21);

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Abdo {
    background-color: #2d6c8a;
}

.Adrian {
    background-color: #8059c9;
}

.Gerard {
    background-color: #2d6c8a;
}