body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    position: relative;
    left: 2%;

}

p {

    position: relative;
    bottom: 150px;
    text-align: right;
}

.des {
    text-align: left;
}


img {
    width: 40%;
    height: 35%;
    border-radius: 200px;
}


.column {
    box-sizing: border-box;
    float: left;
    left: 1000px;
    width: 445px;
    padding: 15px;
    height: 500px;
    background-color: rgb(110, 21, 21);

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Abdo {
    background-color: rgb(240, 248, 255);
}

.Adrian {
    background-color: rgb(240, 255, 255);
}

.Gerard {
    background-color: rgb(245, 245, 220);
}