body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/836/113/non_2x/abstract-pastel-colorful-gradient-background-concept-for-your-graphic-colorful-design-vector.jpg');
    padding: -10px;
    text-align: center;
    color: rgb(37, 102, 42);
    text-shadow: none;
    padding: auto;
    margin: 5%;
    letter-spacing: 3px;
    font-size: medium;
  }

.apache {
    width: 45%;
    height: 45%;
  }

.back {
    width: 55px;
    height: 55px;
  }

.text2 h2 {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
  }
  
  .text2 h2::after {
    
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(36, 89, 204);
    animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(-101%);
    color:aqua;
  }
  
  .text2 h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(0);
  }
  
  .text2 h2:nth-of-type(1)::before,
  .text2 h2:nth-of-type(1)::after {
    animation-delay: 0s;
  }
  s
  .text2 h2:nth-of-type(2)::before,
  .text2 h2:nth-of-type(2)::after {
    animation-delay: 0s;
  }
  
  @keyframes a-ltr-after {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(101%);
    }
  }
  
  @keyframes a-ltr-before {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(200%);
    }
  }


body{background-color:#1A1919;text-align:center;}

.placeholder{
  display:inline-block;
  position:relative;
  width:400px;
  height:400px;
  overflow:hidden;
  box-sizing:border-box;
}

.gridContainer{
  width:100%;
  height:100%;
}

.gridTile
{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-origin:center;
}
