 body {
   background-image: url('https://static.vecteezy.com/system/resources/previews/001/836/113/non_2x/abstract-pastel-colorful-gradient-background-concept-for-your-graphic-colorful-design-vector.jpg');
   padding: -10px;
   text-align: center;
   color: rgb(0, 0, 0);
   text-shadow: none;
   padding: auto;
   margin: 5%;
   letter-spacing: 3px;
   font-size: medium;
 }
h1{
  text-align: center;
}
pre{
  border-radius: 10px;
  border-style: outset;
  padding: 10px;
  border-width: 2px 2px;
  width: auto;
  

}
 button {
   /* background-color: rgb(128, 115, 99);
   padding: 10px; */
   border-radius: 10px;
   border-width: 2px;
   position: absolute;
   left: 85%;

 }

 


 .back {
   width: 55px;
   height: 55px;
 }