body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/836/113/non_2x/abstract-pastel-colorful-gradient-background-concept-for-your-graphic-colorful-design-vector.jpg');
    padding: -10px;
    text-align: center;
    color: rgb(37, 102, 42);
    text-shadow: none;
    padding: auto;
    margin: 5%;
    letter-spacing: 3px;
    font-size: medium;
  }
.proxmox1 {
    width: 35%;
    height: 35%;
    box-align: left;
  }
  
.proxmox2 {
    width: 35%;
    height: 35%;
    box-align: right;
  }
.back {
    width: 55px;
    height: 55px;
  }
