::-webkit-scrollbar {

  display: none;

}
body {
  background-color: #A7ACD9;
  text-align: center;
}

#titulo {
  background-color: #9E8FB2 ;
}

.titulo {
  text-align: center;
  background-color: rgb(62, 185, 185) !important;

  text-align: center;
  background-color: rgb(240, 129, 255) !important;
}
h2 {
  background-color: #93C6D6;
}



